:root {
    --penguin-skin: black;
    --penguin-belly: rgb(255, 255, 255);
    --penguin-beak: orange;
}

.penguin {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 10%;
    width: 500px;
    height: 600px;
}

.penguin-top {
    top: 10%;
    left: 25%;
    background: var(--penguin-skin, gray);
    width: 40%;
    height: 45%;
    border-radius: 50% 50% 50% 50%;
}

.penguin-bottom {
    top: 40%;
    left: 23.5%;
    background: var(--penguin-skin, gray);
    width: 43%;
    height: 45%;
    border-radius: 80% 80% 100% 100%;
}

.right-hand {
    top: 0%;
    left: -5%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 10% 10% 80% 200%;
    transform: rotate(45deg);
    z-index: -1;
    transition-duration: 2s;
}

.left-hand {
    top: 0%;
    left: 75%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 10% 10% 80% 30%;
    transform: rotate(-45deg);
    z-index: -1;
    transition-duration: 2s;
}

.belly {
    top: 78%;
    left: 2.5%;
    background: var(--penguin-belly, white);
    width: 95%;
    height: 85%;
    border-radius: 100% 100% 100% 100%;
    cursor: pointer;
}

.right-feet {
    top: 85%;
    left: 60%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-80deg);
    z-index: -2222;
}

.left-feet {
    top: 85%;
    left: 25%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(80deg);
    z-index: -2222;
}

.right-eye {
    top: 25%;
    left: 53%;
    background: var(--penguin-belly, black);
    width: 30%;
    height: 30%;
    border-radius: 70% 70% 70% 70%;
}

.left-eye {
    top: 25%;
    left: 20%;
    background: var(--penguin-belly, black);
    width: 30%;
    height: 30%;
    border-radius: 70% 70% 70% 70%;
}

.sparkle {
    top: 0%;
    left: 15%;
    background: black;
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

.beak-top {
    top: 61%;
    left: 37%;
    background: var(--penguin-beak, orange);
    width: 28%;
    height: 8%;
    border-radius: 50%;
    border-bottom: 2px solid orangered;
}

.open-mouth {
    border-bottom: 11px solid orangered;
}

.right-hand-moveup {
    transform: rotate(132deg);
    top: -14%;
    left: -27%;
    transition-duration: 2s;
}

.left-hand-moveup {
    transform: rotate(-132deg);
    top: -16%;
    left: 100%;
    transition-duration: 2s;
}

.beak-bottom {
    top: 60%;
    left: 36%;
    background: var(--penguin-beak, orange);
    width: 30%;
    height: 12%;
    border-radius: 60%;
    border-top: 5px solid orange;
}

.bucket {
    border-bottom: 120px solid gray;
    border-left: 60px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 70px;
    transform: rotate(180deg);
    position: relative;
    display: block;
    margin-top: -39%;
    margin-left: 120%;
    z-index: 1;
}

.handle {
    width: 130px;
    height: 55px;
    /* as the half of the width */
    border-top-left-radius: 160px;
    /* 100px of height + 10px of border */
    border-top-right-radius: 160px;
    /* 100px of height + 10px of border */
    border: 5px solid rgba(206, 201, 201, 0.966);
    border-bottom: 0;
    margin-left: -55%;
    margin-top: 85%;
    position: absolute;
}

#fish {
    cursor: pointer;
    position: absolute;
    z-index: 0;
    left: 583px;
    top: 380px; 
    transform:rotate(-60deg);
    background-image: url('forbidden.png'); 
    width: 256px; 
    height: 112px;
}

.DropFishArea {
    width: 130px;
    height: 115px;
    background-color: transparent;
    top: 45%;
    left: 18%;
    z-index: 1;
}

body {
    background: #c6faf1;
    height: 200px;
}

.penguin * {
    position: absolute;
}

.container {
    position: absolute;
    left: 30%;
    top: 20%;
}